
@font-face {
    font-family: 'fira_sans_light';
    src: url('../fonts/firasans-light.eot');
    src: url('../fonts/firasans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-light.woff') format('woff'),
         url('../fonts/firasans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_light';
    src: url('../fonts/firasans-lightitalic.eot');
    src: url('../fonts/firasans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-lightitalic.woff') format('woff'),
         url('../fonts/firasans-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'fira_sans';
    src: url('../fonts/firasans-regular.eot');
    src: url('../fonts/firasans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-regular.woff') format('woff'),
         url('../fonts/firasans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans';
    src: url('../fonts/firasans-italic.eot');
    src: url('../fonts/firasans-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-italic.woff') format('woff'),
         url('../fonts/firasans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'fira_sans';
    src: url('../fonts/firasans-bold.eot');
    src: url('../fonts/firasans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-bold.woff') format('woff'),
         url('../fonts/firasans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans';
    src: url('../fonts/firasans-bolditalic.eot');
    src: url('../fonts/firasans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-bolditalic.woff') format('woff'),
         url('../fonts/firasans-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
