





html {
  font-family: "fira_sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2;
}
body {
  position: relative;
  background-color: #c2c2c2;
  color: #000000;
}

div, ul, li, a, h1, h2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

h1 {
  position: relative;
  height: 158px;
  padding-top: 48px;
  padding-left: 636px;
}
  h1 .title {
    display: inline-block;
    margin-right: 16px;
    font-size: 78px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    color: #93C600;
  }
  h1 .description {
    display: inline-block;
    font-family: "fira_sans_light", Helvetica, Arial, sans-serif;
    color: #4d4d4d;
  }

.viewport {
  position: relative;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  background: #ffffff;
  z-index: 20;
}
  .map-wrap {
    position: relative;
    height: 748px;
  }
  .floor-01 .map-wrap { }
  .floor-02 .map-wrap { }

  .index-wrap {
    position: relative;
    width: 100%;
    height: 334px;
  }
    .nav-index {
      float: left;
      overflow: hidden;
      width: 220px;
      padding-top: 100px;
      padding-left: 32px;
    }
      .nav-index li {
        float: left;
        margin: 0 3px;
        padding: 0;
        list-style: none;
      }
        .nav-index li .btn {
          display: block;
          width: 72px;
          height: 72px;
          background: url('../img/nibi-icons.png') no-repeat;
        }
        .nav-index li .btn-search { background-position: 0 0; }
        .nav-index li .btn-search:hover, /*temp*/
        .nav-index li .btn-search.active { background-position: 0 -72px; }
        .nav-index li .btn-index { background-position: -72px 0; }
        .nav-index li .btn-index:hover, /*temp*/
        .nav-index li .btn-index.active { background-position: -72px -72px; }

    .index {
      float: left;
      width: 1320px;
      height: 100%;
    }
      .index h2 {
        margin: 0 0 18px 0;
        padding: 50px 0 18px 0;
        font-size: 34px;
        line-height: 34px;
        font-weight: bold;
        color: #28231c;
        border-bottom: solid 2px #1f1d18;
      }
      .index ul {
        float: left;
        margin: 0;
        padding: 0;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
      }
        .index ul li {
          margin: 0 0 0 -8px;
          padding: 0;
          list-style: none;
        }
          .index ul li .index-link {
            display: inline-block;
            padding: 4px 8px;
            font-size: 24px;
            line-height: 24px;
            text-decoration: none;
            color: #000000;
            cursor: pointer;
          }
          .index ul li a.index-link:hover, /*temp*/
          .index ul li a.index-link.active {
            color: #ffffff;
            background-color: #93C600;
          }

    ul.nav-floors {
      float: right;
      width: 380px;
      margin: 0;
      padding: 114px 100px 0 0;
    }
      ul.nav-floors li {
        width: 100%;
        height: 68px;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
      }
        ul.nav-floors li a {
          display: inline-block;
          font-size: 50px;
          font-weight: bold;
          line-height: 1;
          text-decoration: none;
          color: #cccccc;
          cursor: pointer;
        }
        ul.nav-floors li a.active {
          font-size: 64px;
          text-decoration: none;
          color: #93C600;
        }
        ul.nav-floors li a.active:before { content: '/ '; }

  .modal-backdrop {
    position: absolute;
    display: none;
    z-index: 200;
    width: 1920px;
    top: 0;
    left: 0;
    height: 746px;
    background-color: rgba(45, 45, 45, .6);
  }
  .modal-panel {
    position: absolute;
    display: none;
    z-index: 220;
    left: 400px;
    top: 176px;
    width: 772px;
    height: 496px;
    background-color: #ffffff;
  }
    .modal-panel .btn-modal-close {
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      width: 64px;
      height: 64px;
      background: #93c600 url('../img/nibi-icons.png') -144px 0 no-repeat;
      cursor: pointer;
    }
    .modal-panel header {
      min-height: 86px;
      padding: 64px 64px 0 64px;
    }
      .modal-panel .company-logo {
        display: block;
        float: left;
        width: 226px;
        height: auto;
        min-height: 86px;
        background-color: #dce0dc; /*temp*/
      }
      .modal-panel .company-title {
        margin: 0 0 0 262px;
        padding: 6px 0 0 0;
        font-size: 46px;
        line-height: 0.8;
        font-weight: normal;
        color: #93c600;
      }
    .modal-panel .content {
      clear: both;
      padding: 42px 64px 0 64px;
    }
      .modal-panel .company-description {
        padding-bottom: 12px;
        font-size: 20px;
        line-height: 1.2;
        color: #000000;
        border-bottom: 4px solid #93c600;
      }
    .modal-panel footer {
      padding: 20px 64px 52px 64px;
    }
      .modal-panel .company-contacts {
        font-size: 20px;
        line-height: 1.2;
        color: #898989;
      }





/*

a:link,
a:visited {
  text-decoration: none;
}

div.text {
  text-align: justify;
  line-height: 150%
}

.fullwidth {
  width: 1080px;
  margin: 0 auto;
}

.b-viewport {
  height: 1920px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.page1 {
  height: 1920px;
  width: 1080px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.screen2 {
  z-index: 22;
}

.screen3 {
  z-index: 23;
}

.screen4 {
  z-index: 24;
}

.screen5 {
  z-index: 25;
}

.screen6 {
  z-index: 26;
}

.screen7 {
  z-index: 27;
}

.screen8 {
  z-index: 28;
}

.screen9 {
  z-index: 29;
}

.zoom-half {
  zoom: 0.5;
}

.zoom-norm {
  zoom: 1;
  transition: 1s;
}

*/
/* top area *//*

.b-top {
  height: 256px;
  background: url("../img/bg-top.png") top center no-repeat;
}

*/
/* search area *//*

.b-search {
  height: 114px;
  background-color: #b3284b;
  border-bottom: 6px solid #751128;
  overflow: hidden;
}

.b-iam-btn {
  width: 116px;
  height: 114px;
  border-right: 1px solid #b62e56;
  float: left;
  display: block;
  cursor: pointer;
}

.b-iam-btn .ico,
.b-search-btn .ico {
  width: 100%;
  height: 70px;
  background: url("../img/ico-iam.png") center 25px no-repeat;
}

.b-iam-btn .text,
.b-search-btn .text {
  width: 100%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}

.b-search-btn {
  width: 124px;
  height: 114px;
  border-right: 1px solid #b62e56;
  float: left;
  cursor: pointer;
}

.b-search-btn.active {
  background-color: #fecc4e;
}

.b-search-btn .ico {
  background-image: url("../img/ico-search.png");
}

.b-search-input,
.b-title {
  float: left;
  padding-left: 24px;
  padding-top: 24px;
}

*/
/* map area *//*

.b-map {
  z-index: 15;
}

.b-map,
.b-screen-content {
  height: 1100px;
  background-color: #efc4cb;
  overflow: hidden;
}

.b-shops {
  height: 1100px;
  background: url("../img/temp-shops.png") top center no-repeat;
}

.screen2, .screen2-dead,
.screen3,
.screen4,
.screen5,
.screen6,
.screen7,
.screen8 {
  position: absolute;
  top: 257px;
  left: 0px;
  width: 1080px;
}

*/
/* icons area *//*

.b-bottom {
  height: 444px;
  background: url("../img/bg-bottom.png") top center no-repeat;
}

.b-bottom .b-icons {
  margin-left: 20px;
  width: 1060px;
  height: 285px;
  padding-top: 5px;
}

.b-bottom .b-icons .btn.shops {
  background-image: url("../img/icons/ico-shops.png");
}

.b-bottom .b-icons .btn.art {
  background-image: url("../img/icons/ico-art.png");
}

.b-bottom .b-icons .btn.ball {
  background-image: url("../img/icons/ico-ball.png");
}

.b-bottom .b-icons .btn.corn {
  background-image: url("../img/icons/ico-corn.png");
}

*/
/*.b-bottom .b-icons .btn.creative{ background-image: url("../img/icons/ico-creative.png"); }*//*

.b-bottom .b-icons .btn.salon {
  background-image: url("../img/icons/ico-salon.png");
}

.b-bottom .b-icons .btn.restoran {
  background-image: url("../img/icons/ico-restoran.png");
}

.b-bottom .b-icons .btn.star {
  background-image: url("../img/icons/ico-star.png");
}

.b-bottom .b-icons .btn.dollar {
  background-image: url("../img/icons/ico-dollar.png");
}

.b-bottom .b-icons .btn.tualet {
  background-image: url("../img/icons/ico-tualet.png");
}

.b-bottom .b-icons .btn.parking {
  background-image: url("../img/icons/ico-parking.png");
}

.b-bottom .b-icons .btn.taxi {
  background-image: url("../img/icons/ico-taxi.png");
}

.b-bottom .b-icons .btn.garderob {
  background-image: url("../img/icons/ico-garderob.png");
}

.b-bottom .b-icons .btn.info {
  background-image: url("../img/icons/ico-info.png");
}

.b-bottom .b-icons .btn.mama {
  background-image: url("../img/icons/ico-mama.png");
}

.b-bottom .b-icons .btn {
  width: 108px;
  height: 43px;
  padding: 63px 5px 0px 5px;
  display: block;
  float: left;
  background-position: center 13px;
  background-repeat: no-repeat;
  background-color: #d72846;
  margin-top: 24px;
  margin-left: 25px;
  color: white;
  text-align: center;
  border: 1px solid #861428;
  border-radius: 20px;
  box-shadow: 0px 2px 7px rgba(121, 17, 34, 0.5), 1px 1px 5px rgba(0, 0, 0, 0.05) inset;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  font-weight: bold;
}

.b-bottom .b-icons .btn.active,
.btn.active {
  background-color: #fecc4e;
  color: #d01d3b;
}

.b-bottom .b-info {
  height: 120px;
}

.work-time {
  color: #f7c3cb;
  font-size: 18px;
  padding-left: 45px;
  padding-top: 5px;
  width: 400px;
  float: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
}

.work-time span {
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
}

.developer {
  display: block;
  border: 5px solid #8a1534;
  float: left;
  margin-top: 40px;
  color: #f7c3cb;
  font-size: 22px;
  padding: 5px 10px 5px 10px;
}

*/
/* SCREEN2 - Категории магазинов *//*

.kg-screen .b-back-btn {
  width: 195px;
  height: 69px;
  padding: 45px 0px 0px 45px;
  border-right: 1px solid #b62e56;
  float: left;
  display: block;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  background: url('../img/icons/ico-back-btn.png') 40px 48px no-repeat;
}

.kg-screen .b-back-btn.active {
  background-color: #fecc4e;
  color: #d01d3b;
}

.kg-screen .scr2-shop-item {
  display: table;
  width: 292px;
  height: 75px;
  padding: 20px 20px 20px 20px;
  background: url('../img/shop-cat-bg.png') center center no-repeat;
  float: left;
  margin: 20px 12px 0px 12px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.kg-screen .scr2-shop-item span {
  display: table-cell;
  vertical-align: middle;
}

.kg-screen .b-title-text,
.kg-screen .no-title {
  width: 635px;
  height: 50px;
  padding: 25px 0px 0px 50px;
  background-color: #ebcad3;
  text-align: left;
  color: #d01d3b;
  font-size: 26px;
  font-weight: bold;
  text-shadow: none;
}

.kg-screen .close-btn {
  width: 75px;
  height: 73px;
  margin: 25px 0px 0px 30px;
  float: left;
  display: block;
  cursor: pointer;
  background: url('../img/icons/ico-close.png') center -1px no-repeat;
}

.kg-screen .close-btn.active {
  background-position: center -73px;
}

*/
/* SCREEN3 - Список магазинов *//*

.screen3-shoplist .title {
  margin: 40px 0px 20px 50px;
  font-size: 35px;
  color: #b3284b;
}

.screen3-shoplist .b-list {
  width: 988px;
  margin: 0 auto;
  background: white;
  height: 905px;
  overflow: auto;
}

.screen3-shoplist .scr3-list-item {
  height: 78px;
  width: 865px;
  padding: 5px 5px 5px 50px;
  display: block;
  color: #cd4f6f;
  background: url('../img/icons/ico-shop-info.png') 800px 15px no-repeat;
  border-bottom: 1px solid #e2e2e2;
}

.screen3-shoplist .scr3-list-item .shop-list-name {
  font-size: 29px;
  width: 332px;
  height: 80px;
  float: left;
  display: table;
  vertical-align: middle;
}

.screen3-shoplist .scr3-list-item .shop-list-name span {
  display: table-cell;
  vertical-align: middle;
}

.screen3-shoplist .scr3-list-item .shop-list-logo {
  width: 260px;
  height: 80px;
  float: left;
  overflow: hidden;
  text-align: center;
}

.screen3-shoplist .scr3-list-item .shop-list-logo img {
  height: 80px;
}

*/
/* SCREEN4 - shop *//*

.screen4-shop .close-btn {
  margin-left: 740px;
}

.screen4-shop .b-slider {
  height: 386px;
  width: 820px;
  padding: 0px;
  position: relative;
  margin: 90px 0px 0px 130px;
}

.b-slider .region {
  height: 386px;
  width: 820px;
  overflow: hidden;
  position: relative;
}

.b-slider .prev {
  position: absolute;
  top: 180px;
  left: -75px;
  cursor: pointer;
  background: transparent url('../img/icons/ico-slider-left.png') center 0px no-repeat;
  height: 67px;
  width: 47px;
}

.b-slider .prev.active,
.b-slider .next.active {
  background-position: center -67px;
}

.b-slider .next {
  position: absolute;
  top: 180px;
  left: 850px;
  cursor: pointer;
  background: transparent url('../img/icons/ico-slider-right.png') center 0px no-repeat;
  height: 67px;
  width: 47px;
}

.screen4-shop .b-slider ul {
  position: absolute;
  left: 0px;
}

.screen4-shop .b-slider ul li {
  float: left;
  margin-right: 45px;
  list-style: none;
  height: 386px;
  width: 386px;
  overflow: hidden;
  text-align: center;
}

.screen4-shop .b-slider ul li img {
  height: 386px;
}

.screen4-shop .description {
  margin: 70px 50px 20px 130px;
  padding-right: 50px;
  width: 860px;
  color: #b3284b;
  height: 400px;
  overflow: auto;
  font-size: 17px;
  font-weight: bold;
}

.screen4-shop .description .half-column {
  width: 387px;
  float: left;
}

.screen4-shop .description .title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.screen4-shop .description .category {
  font-size: 25px;
  font-style: italic;
  color: #cd4f6f;
}

.screen4-shop .description .half-column img {
  margin-left: 45px;
}

.screen4-shop .description p {
  padding-top: 20px;
}

.screen4-shop .scr2-shop-item {
  margin-top: 0px;
}

.screen4-shop .scr2-shop-item.btn-show-map {
  margin-left: 120px;
  cursor: pointer;
}

.screen4-shop .scr2-shop-item.btn-events {
  margin-left: 0px;
}

*/
/* SCREEN5 - Список акций *//*

.screen5-actionlist .title {
  margin: 40px 0px 20px 50px;
  font-size: 35px;
  color: #b3284b;
}

.screen5-actionlist .b-list {
  width: 988px;
  margin: 0 auto;
  background: white;
  height: 905px;
  overflow: auto;
}

.screen5-actionlist .scr3-list-item {
  height: 78px;
  width: 865px;
  padding: 5px 5px 5px 50px;
  display: block;
  color: #cd4f6f;
  background: url('../img/icons/ico-shop-info.png') 800px 15px no-repeat;
  border-bottom: 1px solid #e2e2e2;
}

.screen5-actionlist .scr5-list-item {
  height: 78px;
  width: 865px;
  padding: 5px 5px 5px 50px;
  display: block;
  color: #cd4f6f;
  background: #fef0f0 url('../img/icons/ico-shop-info2.png') 800px 15px no-repeat;
  border-bottom: 1px solid #e2e2e2;
}

.screen5-actionlist .scr3-list-item .shop-list-name,
.screen5-actionlist .scr5-list-item .shop-list-name {
  font-size: 29px;
  width: 690px;
  height: 80px;
  float: left;
  display: table;
  vertical-align: middle;
}

.screen5-actionlist .scr3-list-item .shop-list-name span,
.screen5-actionlist .scr5-list-item .shop-list-name span {
  display: table-cell;
  vertical-align: middle;
}

*/
/* SCREEN 6-7 - Акция *//*

.screen6-action .title {
  padding: 70px 130px 0px 130px;
  color: #b3284b;
  font-size: 35px;
}

.screen6-action .description {
  padding: 50px 130px 50px 130px;
  color: #b3284b;
  overflow: auto;
  font-size: 23px;
  font-weight: normal;
}

.screen6-action .description .half-column {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  width: 387px;
  float: left;
  margin-bottom: 30px;
}

.screen6-action .description .half-column img {
  margin-left: 45px;
}

.screen6-action .description p {
  padding-top: 20px;
}

.screen6-action .scr2-shop-item {
  margin-top: 0px;
}

.screen6-action .scr2-shop-item.btn-show-map {
  margin-left: 120px;
  cursor: pointer;
}

.screen6-action .scr2-shop-item.btn-events {
  margin-left: 0px;
}

*/
/* SCREEN10 Поиск *//*

.b-search-results {
  padding-bottom: 50px;
}

.b-search-list {
  margin: 0px 55px 0px 50px;
  background: white;
}

*/
/* COMMON LIST Гардероб, Парковки *//*

.b-common-list .close-btn {
  margin-left: 740px;
}

.b-common-list .b-list {
  width: 988px;
  margin: 0 auto;
  background: white;
  height: 799px;
}

.kg-screen .scr2-shop-item.btn-show-path {
  margin-left: 40px;
  margin-top: 40px;
}

*/
/* COMMON INFO Страница информации с кнопкой "Показать на карте" *//*

.b-common-info .close-btn,
.screen6-action .close-btn {
  margin-left: 740px;
}

.b-common-info .scr2-shop-item.btn-show-path {
  margin-left: 120px;
}

*/
/* SCREEN15 Разработчик *//*

.developer {
  cursor: pointer;
}

.b-developer-info {
  position: absolute;
  left: 630px;
  top: 1750px;
  z-index: 50;
  width: 368px;
  height: 140px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  display: none;
}

.b-developer-info .title {
  font-size: 18px;
}

.b-developer-info .developer-close {
  background: transparent url('../img/icons/ico-close-small.png') center center no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 51;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

*/
/* Стили, применимые ко всем экранам *//*

.btn-show-path {
  cursor: pointer;
}

.kg-screen .no-title {
  background: transparent;
}

.search-main {

}

.search-main {
  width: 750px;
  height: 68px;
  padding: 6px 20px 15px 20px;
  font-size: 26px;
  line-height: 30px;
  color: #d01d3b;
  font-weight: bold;
  text-align: center;
  border: 0px solid black;
  background: transparent url("../img/search/main-bg.png") center top no-repeat;
}

.search-main:focus {
  border: 0px solid black;
}

.search-main.empty {
  background: transparent url("../img/search/main-bg-empty.png") center top no-repeat;
}

.search-category {
  width: 590px;
  height: 70px;
  padding: 4px 60px 15px 30px;
  font-size: 26px;
  line-height: 30px;
  color: #d01d3b;
  font-weight: bold;
  background: transparent;
  text-align: center;
  border: 0px solid black;
  background: transparent url('../img/search/category-bg.png') center top no-repeat;
}

.search-category:focus {
  border: 0px solid black;
}

.search-category.empty {
  background: transparent url('../img/search/category-bg-empty.png') center top no-repeat;
}

*/



