.block { 
        width: 270px; 
        display: inline-block; 
        height: 300px;  
        padding-left: 30px; 
        padding-bottom: 30px; 
        text-align: center; 
        vertical-align: top; 
        position: relative; 
}